
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,600&display=swap');
* {
  font-family: 'Roboto Serif', serif;
}

.header {
  height: 80px;
  width: 100%;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.container {
  height: calc(100vh - 80px);
}