/** @format */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,600&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard-dynamic-subset.css");

:root {
  --primary: #1c6758;
  --white: #fff;
  --black: #111;

  --node-dep1: #1c6758;
  --node-dep2: #357560;
  --node-dep3: #4e8468;
  --node-dep4: #689270;
  --node-dep5: #81a178;
  --node-dep6: #9aaf80;
  --node-dep7: #b3be88;
  --node-dep8: #cdcc90;
  --node-dep9: #e6db98;
  --node-dep10: #ffe9a0;

  --header-height: 70px;
  --pretendard: 'Pretendard', '돋움', Dotum, '굴림', Gulim, Helvetica, sans-serif;
  --roboto: 'Roboto Serif', serif;
}

body {
  margin: 0;
	padding: 0;
  font-family: var(--pretendard);
  color: var(--primary);
}

.header {
	position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--black);
  background-color: transparent;
  will-change: backgroundColor;
  transition: background-color 2s;
  color: var(--black);
}

.header:hover {
  background-color: var(--black);
  color: var(--white);
}

.header h1 {
  width: 100%;
  margin: 0;
  padding: 1rem 0 1rem 2rem;
  font-size: 1.4rem;
}

.header h1 .title {
	display: inline-block;
	margin-left: .5rem;
}

.container {
  height: 100vh;
  width: 100vw;
}

.flow-wrapper {
  width: 100%;
  height: 100%;
}

[class^="node"] {
  min-height: 2rem;
  border: 1px solid;
  text-align: center;
  background-color: var(--white);
}

[class^="node"].circle {
  border-radius: 0.3rem;
  border-color: var(--node-dep2);
}

[class^="node"].square {
  border-color: var(--node-dep4);
}

.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal.active {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.modal-dimmed {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,10%);
}
.modal.active .modal-dimmed {
  display: block;
}

.modal-contents {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  min-width: 500px;
  min-height: 100px;
  padding: 1rem 2rem;
  border: 3px solid var(--black);
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 1px 1px 15px rgb(0 0 0 / 5%);
  z-index: 999;
  will-change: transform;
  transform: scale(0.5);
  transition: transform .5s;
}
.modal.active .modal-contents {
  transform: scale(1);
}

.modal-contents .close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.form-row {
  width: 100%;
  padding: 1rem 0;
  color: #111;
}

.form-row .label {
  display: block;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: .8rem;
}

.form-row .form-group input[type="text"] {
  display: block;
  width: 100%;
  padding: .4rem 1rem;
  box-sizing: border-box;
}

.form-row .form-group input[type="radio"] + label {
  margin-right: 1rem;
}
.form-row .form-group input[type="radio"]:checked + label {
  color: var(--black);
  font-weight: 600;
}

.form-row > button {
  width: 100%;
  padding: 0.6rem;
  border: 2px solid var(--black);
  background-color: var(--black);
  border-radius: 5px;
  font-size: 1.1rem;
  color: var(--white);
  will-change: background-color;
  transition: background-color .5s;
  cursor: pointer;
}
.form-row > button:hover {
  font-weight: 600;
}